%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], html: {class: "form-horizontal"} do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", admin_payments_path
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            .form-group
              .col-sm-3
                = f.text_field :title, class: "form-control"
            .form-group
              .col-sm-6
                = f.select :category_id, options_for_select(Category.all.map {|category| [category.name, category.id]}), class: "form-control"
            .form-group
              .col-sm-6
                = f.text_area :description, rows: 8, label: "Description", class: "form-control"
            .form-group
              .col-sm-6
                %col.btn.btn-file
                  = f.file_field :large_cover, label: "Large Cover", class: "form-control"
            .form-group
              .col-sm-6
                %col.btn.btn-file
                  = f.file_field :small_cover, label: "Small Cover", class: "form-control"
            .form-group
              .col-sm-6
                %col.btn.btn-file
                  = f.text_field :video_url, label: "Video url", class: "form-control"
          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              = f.submit "Add video", class: "btn btn-default"
